.chart {
    flex: 5;
    -webkit-box-shadow:2px 4px 10px 1px rgba(199, 30, 30, 0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);
    padding: 10px;
    color: #a0a0a0;

    .title {
        font-weight: 500;
        color: #a0a0a0;
        margin-bottom: 20px;
    }
    .chartGrid {
        stroke:#a0a0a07e;
    }
}
